.divBotonesPerfil{
    background-image: url("../../assets/Imgs/Backgrounds/VisorPOIs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}